<h1>Component Generation</h1>
<h2>Assignment 1</h2>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<br>
<h1>Data Binding</h1>
<app-servers></app-servers>

<h2>Assignment 2</h2>
<input [(ngModel)]="username">
<p>The username is {{username}}</p>
<button class="btn btn-primary" [disabled]="!isUserEmpty()" (click)="resetUser()">Reset User</button>
<h3>Alternate button</h3>
<button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>

<h2>Assignment 3 - Directives</h2>
<button class="btn btn-primary" (click)="press()">Display Details</button>
<p *ngIf="clicked">Secret password = tune</p>
<h3>Incrementing Numbers</h3>
<button class="btn btn-primary" (click)="addToLog()">Add</button>
<p *ngFor="let l of log" 
    [ngStyle]="{backgroundColor: (l%2) == 0 ? 'blue' : 'red',
                color: 'white'}">{{l}}</p>

<router-outlet></router-outlet>
